<!doctype html>
<html>
  <head>
    <title>Test</title>
    <script src="https://unpkg.com/htmx.org@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
  </head>
  <body class="p-4">
    <h1 class="text-3xl font-bold underline">Todo List</h1>
    <div class="py-4">
      <form hx-post="/add" hx-target="#todos-list" hx-swap="beforebegin" hx-on::after-request="this.reset()">
        <input type="text" name="title" class="p-2 border border-gray-300 rounded" />
        <input type="submit" value="Add todo" class="p-2 border border-gray-300 rounded bg-blue-500 text-white" />
      </form>
    </div>
    <ul id="todos-list">
      {{range .todos}}
        {{template "todo-item" .}}
      {{end}}
    </ul>


  </body>
</html>
