<!doctype html>
<html>
  <head>
    <title>Test</title>
    <script src="https://unpkg.com/htmx.org@latest"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-3xl font-bold underline">Todo List</h1>
      <a href="/logout" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</a>
    </div>
    <div class="py-4">
      <form hx-post="/todos/add" hx-target="#todos-list" hx-swap="beforebegin" hx-on::after-request="this.reset()">
        <input type="text" name="title" class="p-2 border border-gray-300 rounded" />
        <input type="submit" value="Add todo" class="cursor-pointer p-2 border border-gray-300 rounded bg-blue-500 text-white" />
      </form>
    </div>
    <ul id="todos-list">
      {{range .todos}}
        {{template "todo-item" .}}
      {{end}}
    </ul>
  </body>
</html>
